.cardPc {
    display: flex;
    flex-direction: column;
    background-color: var(--color-low-light);
    width: 400px;
    justify-content: center;
    border-radius: 20px;
    transition: all 0.5s;
    padding: 20px
}

.cardPc:hover {
    transform: scale(1.05,1.05);
    cursor: pointer;
}

.cardPc .p{
    font-size: 9px
}