.button{
    border:none; 
    font-size: 1rem;
    background-color: transparent;
    padding: 10px;
    border-bottom: 1px solid ;
    border-radius: 6px;
}

.button:hover{
    cursor: pointer;
    background: 
        linear-gradient(
            to top, 
            rgb(255, 255, 255, 0.3),
            transparent 100%
        )
}