.button{
    font-size: 1rem;
    background-color: var(--gray-medium);
    padding: 10px;
    border:none;
    border-radius: 8px;
    height: min-content;
}

.button:hover{
    cursor: pointer;
    background-color: var(--gray-high);
}