.searchContent {
    margin-inline: auto;
    width: 90%;
    justify-content: center;
}

.searchArea {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    gap: 5px;
}

.btnSearch {
    font-size: 1.2rem;
    background-color: transparent;
    padding: 10px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-radius: 6px;
}

.btnSearch:hover {
    cursor: pointer;
    background:
        linear-gradient(to top,
            rgb(255, 255, 255, 0.5),
            transparent 80%)
}

.btnSearch:active {
    transform: scale(0.98, 0.98);
}

.ResultArea {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

/* .appListIcon {
    cursor: pointer;
    background-color: white;
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 1;
}


.appListList{
    font-size: 80%;
    list-style: none;
    visibility: hidden;
    background-color: white;
    color: white;
    width: 200px;
    height: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    border-radius: 8px;
    position: fixed;
    right: 25px;
    bottom: 65px;
    gap: 8px;
}

.viewList{
    visibility: visible;
} 
*/

.containerListList {
    transition: transform .2s cubic-bezier(.55, .06, .68, .19);
    bottom: 1em;
    position: fixed;
    right: 0;
    transform: translateX(-1em);
    z-index: 100;
}

.containerListHeader {
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg ,var(--blue-medium), var(--color-low-light));
    border-radius: 8px 8px 0 0;
    color: #fff;
    cursor: pointer;
    display: flex;
    padding: .5em 1em;
    gap: 10px;
}

.clearList_ArrowIcon{
    display: flex;
    gap: 5px;
    align-items: center;
}

.btnClearAppList {
    cursor: pointer;
    padding: 5px;
    border: none;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 8px;
}

.btnClearAppList:hover{
    opacity: 0.8;
}

.containerListBody {
    color: black;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: height .5s;
    display:flex;
    align-items: center;
    justify-content: center;
}

.containerListBody ul {
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, .1);
    list-style: none;
    margin: 0;
    overflow-y: auto;
    padding: 0;
}

.containerListBody li {
    align-items: center;
    animation-duration: .25s;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    margin: 0 1em;
    padding: .5em 15px .5em 0;
    position: relative;
}

.btnDeselect {
    cursor: pointer;
    border: none;
    color: red;
    background-color: rgba(0, 0, 0, 0.2);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 10px;
}

.btnDeselect:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.btnPCBuild {
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 8px;
}


@media (max-width: 480px) {

    .ResultArea {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }

    .containerListList {
        max-width: 85%;
        font-size: 12px;
    }

    .containerListBody{
        min-height:auto
    }

    .btnClearAppList{
        font-size:12px
    }

}