.searchContent{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 15px;
    justify-content: center;
}

.searchArea{
    display: flex;
    align-items: center;
    background-color: var(--primary-color-low);
    padding: 15px;
    border-radius: 8px;
    gap: 5px;
}


@media (max-width: 480px) {
    .searchContent {
        min-width: 90%;
    }
}