.boxInput {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.linhaInput{
    display: flex;
    margin-top: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.input {
    width: 100%;
    font-size: 1rem;
    color: black;
    padding: .5rem;
    background-color: white;
    border-radius: 0.5rem;
    border:none;
}

.input:focus{
    outline:none
}

.verSenhas {
    font-size: 1.5rem;
    width: 30px;
    margin: 5px;
    color: var(--background-color-low);
}

.verSenhas:hover{
    cursor: pointer;
    color: var(--background-color-high);
}

.textoAjuda {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.2rem;
    margin-bottom: 0;
}

.erro {
    border: 1px solid red
}
