.boxInput {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.linhaInput{
    align-items: center;
    display: flex;
}

.input {
    color: black;
    padding: .5rem;
    background-color: white;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    flex-grow: 1;
}

.verSenhas {
    font-size: 2rem;
    width: 30px;
    margin: 5px;
}

.verSenhas:hover{
    cursor: pointer;
    color: #8C61E9
}

.textoAjuda {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.2rem;
    margin-bottom: 0;
}

.erro {
    border: 1px solid red
}
