.cardContainer{
        flex: 1;
        flex-direction: column;
        min-width: 200px;
        max-width: 400px;
        display: flex;
        padding: 10px;
        background: var(--color-medium);
        border-radius: 8px;
        gap: 6px
}

.cardContainer:hover{
        transform: scale(1.05, 1.05);
        cursor: pointer;
}

.image{
        border-radius: 8px;
}

.btnSelect{
        bottom: 0;
}

@media (max-width:480px) {
        .cardContainer{
                min-width: 150px;
        }
}