.cardContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;
        background: var(--color-medium);
        border-radius: 8px;
        gap: 6px;
}

.cardContainer:hover{
        transform: scale(1.025, 1.025);
        cursor: pointer;
}

.image{
        border-radius: 8px;
}

.btnSelect{
        margin-top: auto;
}