:root {
    --color-high: #120C13;
    --color-medium: #2A1B2C;
    --color-low: #7d4e4e;

    --gray-high:#2a2c2e;
    --gray-medium: #36383b;
    --gray-low: #424549;
}

* {
    box-sizing: border-box;
}

html{
    min-height: 100vh; 
    background-color:var(--color-high);
    color-scheme: dark;
    background:
        radial-gradient(circle at 10% 40%, var(--color-medium), transparent 30%),
        radial-gradient(circle at 90% 60%, var(--color-medium), transparent 30%),
        var(--color-high);   
}

body{
    margin:0;
}